<% layout('layouts/boilerplate')%>
<%- include('../partials/admin-sidebar') %>
<%- include('../partials/admin-nav') %>
<%- include('../partials/flash') %>
<div class="content">
    <div class="container">
        <h1>Notifications</h1>
        <table class="table table-striped table-light myTable">
            <thead>
            <tr>
                <th>Notifications</th>
                <th>Date</th>
                <th>View</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <%let i=1%>
                <%notifications.forEach((notification) =>{%>
                <tr>
                    <td style="width: 60%;"><%=notification.title%></td>
                    <td><%=notification.date%></td>
                    <td class="viewNotification"><a href="<%=notification.url%>" target="_blank">Open</a></td>
                    <td><form action="/admin-dashboard/notifications/delete/<%=notification.id%>?_method=DELETE" method="POST"><button class="btn btn-primary" type="submit">Delete</button></form></td>
                </tr>
                <%i++%>
                <%})%>
            </tbody>
        </table>
        <p class="insertNotification"><a href="/admin-dashboard/notifications/insert">Insert new Notification</a></p>
    </div>
</div>
